<div class="container">
    <div class="d-flex justify-content-center align-items-center flex-column">
        <h2 class="regular_header_s mb-3">Simulation Control Panel</h2>
        <div class="btn-group">
            <button type="button" class="btn btn-success px-5 me-2" (click)="startSimulation()">
                Start
            </button>
            <button type="button" class="btn btn-danger px-5" (click)="stopSimulation()">
                Stop
            </button>
        </div>
    </div>
</div>
