<div class="sidebar-container">
    <div class="sidebar-header">
        <h2 id="sidebar-title">Ticketing System</h2>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <a routerLink="/home" routerLinkActive="active"><i class="fas fa-home"></i> <span>Home</span></a>
        </li>
        <hr>
        <li class="list-group-item">
            <a routerLink="/configuration" routerLinkActive="active"><i class="fas fa-cog"></i> <span>Configuration</span></a>
        </li>
        <hr>
        <li class="list-group-item">
            <a routerLink="/vendor" routerLinkActive="active"><i class="fas fa-store"></i> <span>Vendor</span></a>
        </li>
        <hr>
        <li class="list-group-item">
            <a routerLink="/customer" routerLinkActive="active"><i class="fas fa-users"></i> <span>Customer</span></a>
        </li>
        <hr>
        <li class="list-group-item">
            <a routerLink="/analytics" routerLinkActive="active"><i class="fas fa-chart-line"></i> <span>Analytics</span></a>
        </li>
    </ul>
</div>
