<div class="sidebar-container d-flex flex-column">
    <div class="sidebar-header">
        <h2 id="sidebar-title">Ticketing System</h2>
    </div>
    <ul class="list-group flex-grow-1">
        <li class="list-group-item">
            <a routerLink="/home" routerLinkActive="active"><i class="fas fa-home"></i> <span>Home</span></a>
        </li>
        <hr>
        <li class="list-group-item">
            <a routerLink="/configuration" routerLinkActive="active"><i class="fas fa-cog"></i> <span>Configuration</span></a>
        </li>
        <hr>
        <li class="list-group-item">
            <a routerLink="/vendor" routerLinkActive="active"><i class="fas fa-store"></i> <span>Vendor</span></a>
        </li>
        <hr>
        <li class="list-group-item">
            <a routerLink="/customer" routerLinkActive="active"><i class="fas fa-users"></i> <span>Customer</span></a>
        </li>
        <hr>
        <li class="list-group-item">
            <a routerLink="/analytics" routerLinkActive="active"><i class="fas fa-chart-line"></i> <span>Analytics</span></a>
        </li>
    </ul>
    <footer class="footer">
        <div class="container d-flex flex-column justify-content-center align-items-center">
            <span class="" style="font-weight: 100 !important; font-size: 12px; color: #908096;">Manazir Ali | w2051634</span>
            <span class="" style="font-weight: 100 !important; font-size: 10px; color: #908096;">© 2024 Ticketing System</span>
        </div>
    </footer>
</div>
